*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: Prompt-Bold;
 src: url(../font/Prompt-Bold.ttf);
}
@font-face{
    font-family:Prompt-Regular;
 src: url(../font/Prompt-Regular.ttf);
}
.continer{
width: 90%;
margin: auto;
}
:root{
    --maincolor:#43425D;
    --bold-text: Prompt-Bold;
    --reguler-text:Prompt-Regular;
    --box-color: #2A9466;
    --size-Lword:2.2em;
    --smal-size:1.7rem;
    --size:1.1rem;
    --resize:1.9em
}
.qulifiqtion{
    margin: auto;
    background-color: rgb(226, 234, 255);
    padding-left:3rem ;
    padding-right: 2rem;
}
.flex{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}
.navpar{
    text-decoration: none;
    color: black;
    padding-right: 1rem;
    font-family:var( --reguler-text) ;
}
.navpar:hover{
    color:var(--box-color);
}
.around{
    padding-top: 3rem;
    display: flex;
    padding-bottom: 6rem;
}
.powerfull{
    font-family:var( --bold-text) ;
    font-size:3rem;
    padding-right: 10rem;
    padding-bottom: 1rem;
}
.reader{
    font-family:var(--reguler-text);
    font-size:1.1rem;
    color:var(--maincolor);
    padding-right: 16rem;
    padding-bottom: 2rem;
}
.btn-get-started{
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1.1rem;
    padding-right:1.7rem;
    background-color:var(--box-color);
    color: #ffffff;
    border-radius: .3rem;
    border:var(--box-color)solid;
    font-family:var(--reguler-text);
    margin-bottom:1.5rem ;
    margin-top: 6rem;
}
.trial-free{
    padding-top: .9rem;
    padding-bottom: .5rem;
    padding-left: 6.2rem;
    padding-right:6.2rem;
    background-color:var(--box-color);
    color: #ffffff;
    border-radius: .3rem;
    border:var(--box-color)solid;
    font-family:var(--reguler-text);
    margin-bottom:2rem ;
}
.full-name{
    font-family:var(--reguler-text);
    color: black;
    font-size:var(--size);
}
.form-pag{
    background-color: #ffffff;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;

}
.form-pag input{
    margin-top: 1rem;
    width: 300px;
    height: 40;
    border-radius: 3px;
    border: rgb(239, 236, 236) solid;
    border-width: 3px;
    padding-left: 1rem;
    margin-bottom: 1rem;
}
.main-text{
    font-family:var( --bold-text) ;
    font-size:1.4rem;
    padding-left: 3rem;
    padding-bottom: 1rem;
}
.logos-img{
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.explore{
    font-family:var( --bold-text) ;
    font-size:1.4rem;
    padding-left: 25rem;
    padding-right: 25rem;
text-align: center;
padding-top: 3rem;
}
.consectetur{
    font-family:var( --reguler-text) ;
    font-size:1.4rem;
    padding-left: 16rem;
    padding-right: 16rem;
text-align: center;
color:var(--maincolor);
padding-top: 1rem;
padding-bottom: 3rem;
}
.black-color{
    padding-top: 10rem;
    padding-left: 3rem;
}
.pag-letter{
    padding-top: 4rem;
    padding-right: 3rem;
    display: flex;
}
.link-style{
    padding-top: 10rem;
    padding-left: 3rem;
}
.perfect{
    font-family:var( --reguler-text) ;
    color:var(--maincolor);
    letter-spacing: 5;
    font-size:.8rem;
}
.land-plan{
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1.1rem;
    padding-right:1rem;
    background-color:var(--box-color);
    color: #ffffff;
    border-radius: 2rem;
    border:var(--box-color)solid;
    font-family:var(--reguler-text);
    margin-bottom:1.5rem ;
    margin-top: 2rem;
}
.unlimited{
    font-family:var( --bold-text) ;
    font-size:1.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.quadra{
    padding-bottom: 4rem;
}
.ever-need{
    font-family:var( --bold-text) ;
    font-size:1.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.custom{
    font-family:var( --reguler-text) ;
    color:var(--maincolor);
}
.pages{
    font-family:var( --reguler-text) ;
    color:var(--maincolor);
}
.company{
    color:black;
    font-family: var(--bold-text);
    font-size:1rem;
    padding-left: 1rem;
}
.decoument{
    font-family: var(--reguler-text);
    font-size:1rem;
    color:var(--maincolor);
    padding-left: 2.5rem;
}
.variations{
    font-family: var(--reguler-text);
    font-size:1rem;
    color:var(--maincolor);
    padding-left: 2.5rem;
    padding-right: 1rem;
}
.togather{
    display: flex;
}
.regular{
    padding-right: 1rem;
    padding-left: 4rem;
    padding-bottom: 1rem;
}
.powerpoint{
    padding-right: 8rem;
    padding-bottom: 1rem;
}
.copy-right{
        padding-right: 8rem;
        padding-bottom: 1rem;
        padding-left: 1.5rem;
}
.word-decument{
    padding-left: 4rem;
    padding-bottom: 1rem;
}
.netcome{
    border: rgb(239, 236, 236) solid;
    border-width: 1px;
    background-color: #ffffff;
    padding: 2rem;
    padding-left: 1rem;
    
}
.project{
    position: absolute;
    top: 2640;
    padding-left: 2rem;
    padding-right: 2rem;
    border-top-left-radius: 20rem;
    border-top-right-radius: 20rem;
}
.fa-arrow-down{
    border-radius: 50%;
    background-color: var(--box-color);
    padding: 17px;
    color: #ffffff;
}
.download-box{
    display: flex;
    flex-grow: nowrap;
    justify-content: center;
    padding-left: 4rem;
    padding-right: 4rem;
    
}
.download-box .average-rating-box{
    border-radius: 5px;
    border: 1px solid rgb(219, 216, 216);
   width: 250px;
   height: 190px;
   margin: 7px 7px;
   text-align: center;
   padding-top: 30px;
}
.average-rating-box .number-rating{
    font-family: var(--bold-text);
    font-size: var(--smal-size);
    padding-top: 12px;
}
.average-rating-box .rating{
    font-family: var(--reguler-text);
    font-size: var(--size);
    color: darkgrey;

}
.Challenging{
    padding-top: 1rem;
    padding-bottom: .5rem;
    color: #ffffff;
    text-align: center;
    padding-left: 21rem;
    padding-right: 21rem;
    font-size:var(--size-Lword);
   font-family:var(--bold-text);
}
.presentation{
    font-size:var( --size);
    font-family:var(--reguler-text);
    text-align: justify;
    text-align: center;
   line-height: 1.7;
   color: rgb(214, 213, 213);
   padding-left: 15rem;
   padding-right: 16rem;
   padding-bottom: 1rem;
}
.virtical .free{
    font-family: var(--bold-text);
    padding: 9px 30px;
    border: none;
    font-size: var(--size);
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 5px;
}
.virtical{
    margin: auto;
    padding: 2rem;
    min-height: 39vh;
    background-color: var(--box-color);
    height: 10px;
    position: relative;
    margin-top: 3rem;
    border-radius: 20px;
}
.btn-end{
    padding-left: 29rem;
    padding-right: 29rem;
}
.three-steps-box{
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    padding-bottom: 2rem;
}
.publisuer{
    font-family: var(--bold-text);
    font-size: var(--size);
    padding-top: 12px;
    text-align: center;
}
.teasting{
    font-family: var(--reguler-text);
    padding-top: 5px;
    color:var( --maincolor);
    text-align: center;
    font-size: 1rem;
}
.box-step-one .step{
    background-color: var(--box-color);
    font-size: var(--size);
    font-family: var(--reguler-text);
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    margin-left:8rem;
    cursor: pointer;
  }

.programm{
    margin: auto;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    margin-top:20px;

    background-color: rgb(226, 234, 255);
}
.oliver{
    padding-top: 1rem;
        padding-bottom: .5rem;
        text-align: center;
        font-size:var(--size-Lword);
       font-family:var(--bold-text);
    }
    .ipsum{
        font-size:var( --size);
        font-family:var(--reguler-text);
        text-align: justify;
        text-align: center;
       line-height: 1.7;
       color:var(--maincolor);
       padding-left: 120px;
       padding-right: 120px;
       padding-bottom: 1rem;
    }
    .box{
        background-color: #ffffff;
        padding: 20px;
    }
    .plans{
        display: flex; 
        flex-direction: column; 
        justify-content: space-around; 
        min-height: 90px;
    }
    .thomas{
        font-size:1.1em;
       font-family:var(--bold-text);
    }
    .mini-word{
        font-size:1.4em  ;
        font-family:var(--reguler-text);
    }
    .class{
        font-family:var(--reguler-text);
    }
    .child{
display: flex;
    }
    .middl-list{
        margin: auto;
        margin-top:2rem;
    }
    .contant{
        margin: auto;
        justify-content: center;
        display: flex;
     }
     .basic{
        background-color: #ffffff;
        border: rgb(211, 211, 211) solid;
        padding-right: 20;
   
       }
    .start-shap{
        text-align: center;
        min-height: 90px;
        font-size:var( --size) ;
        justify-content: space-between; 
        justify-content: center;
    }
    .cours-style{
        padding-left: 15rem; 
        padding-right: 15rem;
    }
    .shap{
        padding-top: 13px;
        padding-bottom: 12px;
        padding-left: 24px;
        padding-right: 21px;
        background-color:var(--box-color);
        color: #ffffff;
        border-radius: 3px;
        border:var(--box-color) solid;
        font-family:var(--reguler-text);
        letter-spacing: 2px;
        margin-top: 36px;
        margin-bottom:32px ;
    }
    .website{
        color: black;
        font-family:var(--bold-text);
        font-size:var(--resize);
        padding-bottom: 8px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .praiority{
        position: absolute;
        width: 40px; height: 40px; border-radius: 50%; background-color: #2A9466;
        left: 100;
        top: 4433;
    }
    .abselute{
        position: absolute;
        width: 40px; height: 40px; border-radius: 50%; background-color: #2A9466;
        left: 1205;
        top: 4433;
    }
    .fa-angle-double-left{
        margin-left: 12px;
        padding-top: 12px;
        color: #ffffff;
    }
    .fa-angle-double-right{
        margin-left: 12px;
        padding-top: 12px;
        color: #ffffff;
    }
    .circle{
        width: 20px;
        height: 40px;
        border: 1px solid #2A9466;
        border-radius: 0 100% 100% 0/50%;
        border-left: none;
        background-color:#2A9466;
        position: absolute;
        top: 4944;
    }
    .circle2{
        width: 20px;
            height: 40px;
            border: 1px solid #2A9466;
            border-radius: 100% 0 0 100%/50%;
            border-right: none;
        background-color:#2A9466;
        position: absolute;
        top: 4944;
        left: 844;
    }
    .start{
        color:var( --maincolor);
        font-family:var(--reguler-text);
        font-size:var(  --sizee);
    }
    .salary{
        font-family:var(--bold-text);
        font-size:var(--resize);
     }
     .number{
        font-family:var(--reguler-text);
        font-size:var(--smal-size);
     }
     .expense{
        color:var( --maincolor);
        font-family:var(--reguler-text);
        font-size:var(  --size);
     }
     .beauty{
        display: flex; 
        flex-direction: column; 
        justify-content: space-around; 
        min-height: 90px;
     }
     .revenue{
        margin: auto;
        padding: 2rem;
        min-height: 39vh;
        background-color: var(--box-color);
        border-top-left-radius: 40%;
        border-top-right-radius: 40%;
        height: 40vh;
        height: 1rem;
        position: relative;
        margin-top: 3rem;
     }
     .paragraph{
         padding-left: 3rem;
         padding-right: 3rem;
     }
     .facilis{
        background-color: #fff;
        margin-left: 40%;
        margin-right: 40%;
        position: absolute;
        top:5350;
        left: -350px;
        border-radius: 3px;
        border: rgb(239, 236, 236) solid;
        border-width: 3px;
    }
     .form{

        color: #000;
        font-family:var(--bold-text);
        font-size: 19px;
    }
    .facilis input{
        margin-right: 40px;
        margin-left: 40px;
        margin-top: 10px;
        width: 400px;
        height: 40;
        margin-bottom: 30px;
        border-radius: 3px;
        border: rgb(239, 236, 236) solid;
        border-width: 3px;
    }
   .facilis label{
        margin-right: 40px;
        margin-left: 40px;
        padding-top: 400px;
    }
    .facilis textarea{
        margin-right: 40px;
        margin-left: 40px;
        resize: none;
        width: 400px;
        height: 90;
        margin-bottom: 30px;
        border-radius: 3px;
        border: rgb(239, 236, 236) solid;
        border-width: 3px;
    }
    .massege{
        padding-top: 13px;
        padding-bottom: 12px;
        padding-left: 24px;
        padding-right: 21px;
        background-color: #2A9466;
        color: #ffffff;
        border-radius: 3px;
        border: #2A9466 solid;
        font-family:var(--reguler-text);
        letter-spacing: 2px;
        margin-bottom:32px ;
        margin-left:78%;
    }
    .gmail{
        font-family:var(--bold-text);
        font-size:var(  --size);
        text-align: center;
        padding-top: .5rem;
    }
    .class-room{
        display: flex;
        margin: auto;
        justify-content: space-around;
        padding-bottom: 3rem;
    }
    .info{
        font-family:var(--reguler-text);
        font-size:var(  --size);
        text-align: center;
        color:var(--maincolor);
        padding-top: .5rem;
    }
    .icons-classes{
        width: 40px;
         height: 40px; 
         background-color:#2A9466; 
         border-radius: 6px;
         margin-left: 80px;
    }
    .footer{
        padding-top: 3rem;
        display: flex;
        justify-content: space-around;
        padding-bottom: 2rem;
    }
    .design-themeboss{
        padding-top: 1rem;
        font-family:var(--reguler-text);
        font-size:var(  --size);
        color:var(--maincolor);
    }
.tr-table{
    font-family:var(--bold-text);
    font-size:var(  --size);
    padding-left: 6rem;
    padding-bottom: 2rem;
}
.td-table{
    font-family:var(--reguler-text);
    font-size:.9rem;
    color:var(--maincolor);
    padding-left: 6rem;
    padding-bottom: .5rem;
}
     .reduis-App{
        width: 40px; 
        height: 40px; 
        background-color: #2A9466; 
        border-radius: 50%;
        margin-right: 1rem;
     }
     .application{
         padding-top: 1rem;
         display: flex;
     }
     .develop{
        font-family:var(--bold-text);
        font-size:var(  --size);
        padding-top: 1rem;
     }